@CHARSET "ISO-8859-1";

#Header{
	height:110px;
}

#Header h1{
	margin-top:30px;
}

#HeaderMenu ul{
	margin:0px; 
	padding:0px;
}

#HeaderMenu ul li{
	display:inline;
}

div#SignUp{
	float:right;	
	margin-top:0px;	
}

div#MainMenu{
	float:right;
	margin-top:70px;
	font-size:1.2em;
	font-weight:bold;
}

.errors, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.errors, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.errors a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}


/* form style */ 
/*DL, DT, DD TAGS LIST DATA*/
form dl {
    margin-bottom:50px;
}
 
form dl dt {
    //background:#5f9be3;
    color:#000000;
    float:left;
    font-weight:bold;
    //margin-right:10px;
    padding:10px; 
    width:70px;
}
 
form dl dd {
    margin:0px 0;
    padding:0px 0;
}
form dl dd input[type="text"],dl dd input[type="password"]{
	width:210px;
	padding:5px;
}
form ul.errors{
	margin-left: 90px;
	margin-right:40px;
	list-style-type:none;
}

form ul.errors li{	
	
}


form dl dt label{   
   float: left;
   width: 80px;
}

/* register/signin box */
.BoxContainer{
	background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin: 6px;
    padding: 20px;
    text-align: left;
}